<form action="../controller/LibreriaRest.php" method="post">
    <label class="form-label" for="titolo">Titolo</label>
    <input class="form-control" type="text" name="titolo" id="titolo">
    <label class="form-label" for="pagine">Pagine</label>
    <input class="form-control" type="number" name="pagine" id="pagine">
    <label class="form-label" for="prezzo">prezzo</label>
    <input class="form-control" type="number" name="prezzo" id="prezzo">
    <label class="form-label" for="autore">Autore</label>
    <input class="form-control" type="text" name="autore" id="autore">
    <input class="btn btn-primary" type="sumbit" value="Add Libro">
</form>